body{
    background-color: maroon;
}


#container{
    background-color: yellow;
    height: auto;
    width: 100%; 
    max-width: 1020px;
    margin: 0 auto;
}

header{
    background-color: maroon;
    height: 50px;
    width: 94%;
    padding: 25px;
    margin: 5px 5px 5px 5px;
}
H2{
    color:yellow;
}
nav{
    background-color: maroon;
    color:yellow;
    width: 990px;
    padding: 10px;
    margin: 5px 5px 5px 5px;
}

nav li{
    display:inline;
    list-style-type:none;
    padding-right: 40px;
}

section{
    background-color: maroon;
    width: 480px;
    height: 400px;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    float: left;
}

aside{
    background-color: maroon;
    width: 480px;
    height: 400px;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    float: right;
}

footer{
    background-color: maroon;
    clear:both;
}

h6 {
    font-family:georgia;  
}